<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Posts</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
</head>
<body>
  <div class="space-y-4 p-4 max-w-xl m-auto">
    <h1 class="text-3xl text-center">Posts</h1>
    {{ range . }}
      <div class="p-4 border rounded">
        <h2 class="text-lg font-bold">{{ .Title }}</h2>
        <p class="text-gray-700">{{ .Body }}</p>
      </div>
    {{ end }}
    {{ if not . }}
      <p class="text-center">No posts yet</p>
    {{ end }}
    <form hx-post="/posts">
      <div class="flex space-x-2">
        <input type="text" name="title" placeholder="Title" class="border p-2 rounded">
        <input type="text" name="body" placeholder="Body" class="border p-2 rounded">
        <button class="border p-2 rounded" type="submit">Create</button>
      </div>
    </form>
  </div>
</body>
</html>