<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Posts</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
</head>
<body class="dark:bg-black dark:invert">
  <div class="max-w-xl space-y-4 pt-4 m-auto">
    <!-- page header -->
    <h1 class="text-3xl text-center">Go and htmx Examples</h1>

    <!-- welcome -->
    <div>
      <h2 class="text-xl underline">Welcome</h2>
      <p>This website and all the examples within it are written in <a href="https://golang.org/" class="underline">Go</a> and <a href="https://htmx.org/" class="underline">htmx</a>. The styling was done with <a href="https://tailwindcss.com/" class="underline">tailwindcss</a>. Check out <a href="https://github.com/norbusonam/go-and-htmx" class="underline">this github repo</a> for the code.</p>
    </div>
    
    <!-- simple counter -->
    <div>
      <h2 class="text-xl underline">Simple Counter</h2>
      <p id="counter">{{ .Counter }}</p>
      <button hx-put="counter/decrement" hx-target="#counter" class="hover:bg-neutral-300 bg-neutral-200 p-2 rounded-md transition-colors">decrement</button>
      <button hx-put="counter/increment" hx-target="#counter" class="hover:bg-neutral-300 bg-neutral-200 p-2 rounded-md transition-colors">increment</button>
    </div>

    <!-- list controls -->
    <div>
      <h2 class="text-xl underline">List Controls</h2>
      <div id="list" class="space-y-2">
        {{ block "list" .  }}
          {{ range .ListItems }}
            <div class="flex justify-between">
              <p>{{ . }}</p>
              <button hx-delete="list/{{ . }}" hx-target="#list" class="hover:bg-neutral-300 bg-neutral-200 p-2rounded-md transition-colors">delete</button>
            </div>
          {{ else }}
            <p>No items in list</p>
          {{ end }}
        {{ end }}
      </div>
      <button hx-post="list" hx-target="#list" class="hover:bg-neutral-300 bg-neutral-200 p-2 rounded-md transition-colors">add</button>
      <button hx-post="list/reset" hx-target="#list" class="hover:bg-neutral-300 bg-neutral-200 p-2 rounded-md transition-colors">reset</button>
    </div>

    <!-- active search -->
    <div>
      <h2 class="text-xl underline">Active Search</h2>
      <div>
        <input type="text" name="query" hx-get="search" hx-trigger="keyup" hx-target="#search-results" class="border border-gray-300 p-1 rounded-md transition-colors">
        <div id="search-results" class="space-y-2">
          {{ block "search-results" . }}
            {{ range .SearchResults }}
              <div class="flex justify-between">
                <p>{{ . }}</p>
              </div>
            {{ else }}
              <p>No results</p>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

  </div>
</body>
</html>