<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go and htmx</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
<body class="dark:bg-black dark:invert">
  <div class="max-w-xl space-y-4 pt-4 m-auto">
    <!-- page header -->
    <h1 class="text-3xl text-center">Go and htmx Examples</h1>

    <!-- navigation -->
    <div class="flex">
      <div class="basis-1/4 space-y-2">
        <a href="/" class="block {{ if eq .Page "welcome" }}font-bold{{ end }}">Welcome</a>
        <a href="/simple-counter" class="block {{ if eq .Page "simple-counter" }}font-bold{{ end }}">Simple Counter</a>
        <a href="/list-controls" class="block {{ if eq .Page "list-controls" }}font-bold{{ end }}">List Controls</a>
        <a href="/active-search" class="block {{ if eq .Page "active-search" }}font-bold{{ end }}">Active Search</a>
      </div>

      <div class="basis-3/4">
        {{ if eq .Page "welcome" }}
          {{ template "welcome" }}
        {{ else if eq .Page "simple-counter" }}
          {{ template "simple-counter" . }}
        {{ else if eq .Page "list-controls" }}
          {{ template "list-controls" . }}
        {{ else if eq .Page "active-search" }}
          {{ template "active-search" . }}
        {{ else }}
          <p>Page not found</p>
        {{ end }}
      </div>
    </div>

    <!-- welcome -->
    {{define "welcome"}}
      <div>
        <p>This website and all the examples within it are written in <a href="https://golang.org/" class="underline">Go</a> and <a href="https://htmx.org/" class="underline">htmx</a>. The styling was done with <a href="https://tailwindcss.com/" class="underline">tailwindcss</a>. Check out <a href="https://github.com/norbusonam/go-and-htmx" class="underline">this github repo</a> for the code.</p>
      </div>
    {{end}}
    
    <!-- simple counter -->
    {{define "simple-counter"}}
      <div>
        <p id="counter">{{ .Counter }}</p>
        <button hx-put="counter/decrement" hx-target="#counter" class="hover:bg-neutral-300 bg-neutral-200 p-2 rounded-md transition-colors">decrement</button>
        <button hx-put="counter/increment" hx-target="#counter" class="hover:bg-neutral-300 bg-neutral-200 p-2 rounded-md transition-colors">increment</button>
      </div>
    {{end}}

    <!-- list controls -->
    {{define "list-controls"}}
      <div>
        <div id="list" class="space-y-2">
          {{ block "list" .  }}
            {{ range .ListItems }}
              <div class="flex justify-between">
                <p>{{ . }}</p>
                <button hx-delete="list/{{ . }}" hx-target="#list" class="hover:bg-neutral-300 bg-neutral-200 p-2 rounded-md transition-colors">delete</button>
              </div>
            {{ else }}
              <p>No items in list</p>
            {{ end }}
          {{ end }}
        </div>
        <button hx-post="list" hx-target="#list" class="hover:bg-neutral-300 bg-neutral-200 p-2 rounded-md transition-colors">add</button>
        <button hx-post="list/reset" hx-target="#list" class="hover:bg-neutral-300 bg-neutral-200 p-2 rounded-md transition-colors">reset</button>
      </div>
    {{end}}

    <!-- active search -->
    {{define "active-search"}}
      <div>
        <div>
          <input type="text" name="query" hx-get="search" hx-trigger="keyup" hx-target="#search-results" class="border border-gray-300 p-1 rounded-md transition-colors">
          <div id="search-results" class="space-y-2">
            {{ block "search-results" . }}
              {{ range .SearchResults }}
                <div class="flex justify-between">
                  <p>{{ . }}</p>
                </div>
              {{ else }}
                <p>No results</p>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    {{end}}

  </div>
</body>
</html>